body{
    background-color: #ffffff;
}



.nav-bar .logo {
    opacity: 0.7;
    height: 250px;
    width: 250px;
    display: block;
    margin: 0 auto 0 auto;
}




.colour-box {
    border: 1px solid #000000;
    margin: 10px;
    display: flex;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    justify-content: space-evenly;
    

}

.banner .colour-box #tea-green {
    margin: 0;
    width: 20%;
    padding: 30px 5px;
    min-height: 2rem;
    background-color: #C9E4CA;
}

.banner .colour-box #eton-blue {
    margin: 0;
    width: 20%;
    padding: 30px 5px;

    min-height: 2rem;

    background-color: #87BBA2;




}

.banner .colour-box #steel-teal {
    margin: 0;
    width: 20%;
    min-height: 2rem;
    padding: 30px 5px;

    min-height: 150px;

    background-color: #55828B;




}

.banner .colour-box #deep-space-sparkle {
    margin: 0;
    width: 20%;
    min-height: 2rem;
    padding: 30px 5px;

    min-height: 150px;

    background-color: #3B6064;




}

.banner .colour-box #charcoal {
    margin: 0;
    width: 20%;
    min-height: 2rem;
    padding: 30px 5px;

    min-height: 150px;
    background-color: #364958;

}

.buttons {
    font-family: 'Nunito', sans-serif;

    display: flex;
    margin: 10px;
    border: 1px solid #000000;
    justify-content: space-evenly;
    background-color: #ffffff;
    padding: 30px;
}

.buttons #button-one{
    background-color: #F29559;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 24px;

}

.buttons #button-one:hover{
    cursor: pointer;
    background-color: #283845;
}
.buttons #button-two{
    background-color: #283845;
    display: inline-block;
  padding: 10px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}

.buttons #button-two:hover{
    background-color: #55828B
    ;
}
.buttons #button-two:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(5px);
}
.buttons #button-three{
    background-color: #B8B08D;
    border: none;
    padding: 16px 32px;
    text-align: center;
    font-size: 24px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 20px;
}

.buttons #button-three:hover{
    opacity: 1;
}

.buttons #button-three:active{
    background-color: #F2D492;
}
.content-two {

    border: 1px solid #000000;
    font-weight: 500;

    margin: 10px;
    height: auto;
    padding: 10px;
    justify-content: space-around;
    text-align: center;

}




.fonts {
    padding: 10px 10px;
    justify-content: space-evenly;
}
.font-examples{
    display: block;
    margin: 40px;
}
.content-two .helvetica{
    font-family: Helvetica, sans-serif;
}
.content-two .monospace {
    font-family: monospace;
}
.content-two .nunito {
    font-family: 'Nunito', sans-serif;

}

.content-two li {
    list-style: none;
    justify-content: space-around;
    padding-right: 30px;

}

@media screen and (max-width: 600px) {
    .buttons #button-one, #button-two, #button-three{
        margin: 10px;
        padding: 10px;
        justify-content: space-between;
    }
}